
@{
    ViewBag.Title = "Message";
    Layout = "~/Views/Shared/_Partials.cshtml";
}

<!-- Modal -->
<section style="min-height: 82vh; margin-top:90px">
    <div class="container mt-5">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Registro Exitoso!!</h4>
            <p>En los próximos días lo estatermos contactando a los datos que acabo de suministrarnos</p>
            <hr>
            <p class="mb-0">Estar pendiente del correo electronico por favor</p>
        </div>
        <a type="button" class="btn btn-primary mt-3" href="Index">Inicio</a>
    </div>
   
</section>


